{% extends 'padre.html' %}

{% block contenidoQueCambia1 %}

<h1>Listado de Películas</h1>
<div class="card-container">
    <div class="row">
        {% for pelicula in lista_peliculas %}
        <div class="col-12 col-md-4 col-lg-3 my-3">
            <div class="card equal-height-card">

                {% if pelicula.imagenpelicula %}
                <img src="{{  pelicula.imagenpelicula.url }}" class="card-img-top" alt="{{ pelicula.nombre }}" />
                {% endif %}
                
                <div class="card-body">
                    <h5 class="card-title">
                        {{ pelicula.nombre }} <span class="badge bg-warning">NUEVO</span>
                    </h5>
                    <p class="card-text">
                        Descripción: {{ pelicula.descripcion }}
                    </p>
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock contenidoQueCambia1 %}